div.payedDiv{
    border: 1px solid #D4D4D4;
    max-width: 1013px;
    margin: 10px auto 20px auto;
}
div.payedTextDiv{
    height: 61px;
    background-color: #ECFFDC;
    padding: 17px 0 0 25px;
}
div.payedTextDiv span{
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
}
div.payedAddressInfo{
    padding: 26px 35px;
}
div.payedAddressInfo li{
    background-image:url(../img/site/li_dot.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-attachment: scroll;
    background-position: 0 13px;
    list-style-type: none;
    color: #333333;
    padding-left: 15px;
    padding-top: 5px;
}
span.payedInfoPrice{
    color: #B10000;
    font-weight: bold;
    font-size: 14px;
    font-family: arial;
}
div.paedCheckLinkDiv{
    margin-left: 38px;
}
a.payedCheckLink{
    color: #2D8CBA;
}
a.payedCheckLink:hover{
    color: #2D8CBA;
    text-decoration: underline;
}
div.payedSeperateLine{
    border-top: 1px dotted #D4D4D4;
    margin: 0 31px;
}
div.warningDiv{
    margin: 23px 45px;
    color:black;
}
body{
    font-size: 12px;
    font-family: Arial;
}
.boldWord{
    font-weight: bold;
}
.redColor{
    color: #C40000;
}