body {
    font-size: 12px;
    font-family: Arial;
}

a {
    color: #999999;
}

a:hover {
    text-decoration: none;
    color: #C40000;
}

nav.top {
    background-color: #f2f2f2;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e7e7e7;
}

.redColor {
    color: #C40000 !important;
}

nav.top span, nav.top a {
    color: #999999;
    margin: 0 10px;
}

nav.top a:hover {
    color: #C40000;
    text-decoration: none;
}

div.searchDiv {
    background-color: #C40000;
    width: 400px;
    margin: 50px 500px;
    height: 40px;
    display: block;
}

img.logo {
    position: absolute;
    left: 100px;
    top: 30px;
}

div.searchDiv input {
    width: 275px;
    border: 1px solid transparent;
    height: 36px;
    margin: 2px;
    outline: none;
}

div.searchDiv button {
    width: 110px;
    height: 36px;
    border: 1px solid transparent;
    background-color: #C40000;
    color: white;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}

div.searchBelow {
    margin-top: 3px;
    margin-left: -20px;
}

div.searchBelow span {
    color: #999999;
}

div.searchBelow a {
    padding: 0 30px 0 20px;
}

div.footer {
    border-top-style: solid;
    border-top-color: #e7e7e7;
    border-top-width: 1px;
    margin-top: 30px;
}

div.footer_ensure {
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
}

div.footer_desc {
    border-top-width: 1px;
    border-top-color: #e7e7e7;
    border-top-style: solid;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0 150px;
}

div.footer_desc div.descColumn {
    width: 20%;
    float: left;
    padding-left: 15px;
}

div.footer_desc div.descColumn span.descColumnTitle {
    color: #646464;
    font-weight: bold;
    font-size: 16px;
}

div.footer_desc a {
    display: block;
    padding-top: 3px;
}

/*页脚2*/
img.catEye {
    margin-left: 20px;
}

div.footer2 {
    margin: 20px 0;
    border-top-style: solid;
    border-top-color: #e7e7e7;
    border-top-width: 1px;
}

div.copyRight {
    background-color: black;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #C40000;
}

div.copyRight span.slash {
    color: white;
}

div.footer2 div.copyRight div.white_link a {
    color: white;
    padding: 0 5px;
}

div.footer2 div.copyRight div.white_link {
    padding: 10px 0;
    margin-left: 10px;
}

div.license {
    margin-left: 10px;
    padding-bottom: 30px;
}

div.license span {
    color: #A4A4A4;
}

div.license div.copyRightYear {
    margin: 10px 0;
    color: #686868;
}

/*小搜索框css*/
div.simpleSearchDiv {
    background-color: #C40000;
    width: 400px;
    margin: 50px auto;
    height: 40px;
    display: block;
}
img.simpleLogo {
    position: absolute;
    left: 10px;
    top: 50px;
    width: 140px;
}
div.simpleSearchDiv{
    background-color: #C40000;
    width: 400px;
    margin: 10px 20px 40px;
    padding: 0;
    height: 40px;
    display: block;
}
div.simpleSearchDiv input{
    width: 275px;
    border: 1px solid transparent;
    height: 36px;
    margin: 1px;
    outline: none;
}
div.simpleSearchDiv button{
    width: 110px;
    height: 36px;
    border: 1px solid transparent;
    background-color: #C40000;
    color: white;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}
div.simpleSearchBelow{
    margin-top: 3px;
    margin-left: -20px;
}
div.simpleSearchBelow span{
    color: #999999;
}
div.simpleSearchBelow a{
    padding: 0 30px 0 20px;
}